# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# =========================
# Environment files
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log
logs/
*.out

# =========================
# Node / JS
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Misc
# =========================
tmp/
temp/
.cache/

# =========================
# Docker
# =========================
*.pid
docker-compose.override.yml

# =========================
# WSL / Linux
# =========================
*.sock

# =========================
# Monitoring
# =========================
monitoring/grafana/data/
monitoring/prometheus/data/

# =========================
# Backup
# =========================
backup/
backups/
*.tar
*.tar.gz

# =========================
# GitLab runtime
# =========================
gitlab/data/*
gitlab/logs/*
gitlab/config/*
gitlab/tmp/*

!gitlab/config/
!gitlab/data/
!gitlab/logs/
!gitlab/data/.gitkeep
!gitlab/logs/.gitkeep
!gitlab/config/.gitkeep

# =========================
# Nginx SSL
# =========================
nginx/ssl/
nginx/ssl/*.key
nginx/ssl/*.crt
nginx/ssl/*.pem

gitlab-workspace/